**/node_modules
**/npm-debug.log
**/.next
**/*.env*
**/.env.*
**/.idea
**/.vscode
**/.git
**/Dockerfile
**/*.Dockerfile
**/scripts
**/*README.*
/MCHMFP.code-workspace
/nodemon.json
/.editorconfig
**/*.DS_Store
**/*.history
/vandelay-js.js
/jsconfig.json
**/app/theme/.dist
